<%- include('../partials/header.ejs') %>

    <div class="container-positions-1">
        <% if (list.length> 0) { %>
            <div class="links">
                <a href="/positions/new">Create new position</a>
            </div>
    </div>
    <div class="container-positions-2">
        <% } %>
            <% if(list.length> 0) {%>
                <ul class="table">
                    <li class="table-header">
                        <div class="col col-1">Title</div>
                        <div class="col col-2">Company</div>
                        <div class="col col-3">Location</div>
                        <div class="col col-4">Date</div>
                    </li>
                    <% list.forEach(function(p) { %>
                        <li class="table-row">
                            <div class="col col-1" data-label="Title">
                                <%= p.position %>
                            </div>
                            <div class="col col-2" data-label="Company">
                                <%=p.companyName %>
                            </div>
                            <div class="col col-3" data-label="Location">
                                <%= p.location %>
                            </div>
                            <div class="col col-4" data-label="Date">
                                <%= p.whenApplied %>
                            </div>
                        </li>
                        <% }) %>
                </ul>
                <% } else { %>

                    <h2>Start adding positions <span><a href="/positions/new">HERE</a></span></h2>
                    <img class="main-img" src="/images/login.png" alt="">
                    <% } %>
    </div>

    <%- include('../partials/footer.ejs') %>